<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net461" />
  <package id="Keras.NET" version="3.7.5" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net461" />
  <package id="Numpy" version="3.7.1.26" targetFramework="net461" />
  <package id="Numpy.Bare" version="3.7.1.26" targetFramework="net461" />
  <package id="Python.Deployment" version="1.2.0" targetFramework="net461" />
  <package id="Python.Included" version="3.7.3.13" targetFramework="net461" />
  <package id="pythonnet_netstandard_py37_win" version="2.5.1" targetFramework="net461" />
  <package id="pythonnet_netstandard_py38_win" version="2.5.1" targetFramework="net461" />
</packages>