<div class="jumbotron">
    <form method="post" action="~/Controllers/Home/" class="form-inline">
        <div class="form-group-lg">
        <input type="file" class="input-lg"/>
        <input type="submit" class="btn-lg" />
        </div>
    </form>
</div>
<div class="row">

</div>
